body {
    font: 10px sans-serif;
}

h1 {
    text-align: center;
}

.y.axisRight text {
    fill: steelblue;
}

.y.axisLeft text {
    fill: blue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar1 {
    fill: blue;
}

.bar2 {
    fill: steelblue;
}

