    .bar {
        fill: green;
    }
    
    .bar:hover {
        fill: #454545;
        transition-duration: 0.6s;
    }
    
    .axis {
        font: 10px sans-serif;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }